## Assigning Values to Variables

In [2]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "Gaurav"       # A string

print(counter)
print(miles)
print(name)

100
1000.0
Gaurav

## Multiple Assignment

In [3]:
# assign a single value to several variables simultaneously
a = b = c = 1

print(a)
print(b)
print(c)

1
1
1

In [4]:
a,b,c,d = 1,2,"Gaurav", 0.001

print('a=',a)
print(b)
print(c)
print(d)

a= 1
2
Gaurav
0.001

# Standard Data Types
    * Numbers
    * String
    * List
    * Tuple
    * Dictionary

# Python Numbers

In [5]:
var1 = 1
var2 = 10
var4= 10.002
print(var1)
print(var2)
print(var4)

1
10
10.002

## Python support four different numeriacal types
* int (signed integers)
* long (long integers, they can also be represented in octal and hexadecimal)
* float (floating point real values)
* complex (complex numbers) eg: x + yj

# Python String

* set of characters represented in the quotation marks.
* Python allows for either pairs of single or double quotes.

In [7]:
string = 'Data Science! '
string_1 = "asdfghjl"
str_1 = '123456' 
print(string) #  Prints complete list
print(string_1)
print(str_1)
print('sdfadg  ', str_1, string)

Data Science!
asdfghjl
123456
sdfadg   123456 Data Science!

In [8]:
print(string_1[6]) # Prints first element of the list

j

In [9]:
print(string[2:]) # Prints elements starting from 2nd element

ta Science!

In [10]:
string = 'Data Science! '
print(string[0:6])  # Prints elements starting from 2nd till 9th

Data S

In [11]:
string_1 = "asdfghjl "
print(string_1 *2) # Prints string two times

asdfghjl asdfghjl

In [13]:
print(string_1 , ' Test') # prints concating string

asdfghjl   Test

In [16]:
print(string[-5:-1])

nce!

In [19]:
#'Data Science!
string = 'Data Science! '
        
print(string[   :  :-2]) # print reverse order    [start : stop : step]

 eniSaa

In [20]:
string.upper() # all letter

'DATA SCIENCE! '

In [21]:
s = 'data science'
s.capitalize() # 1st letter

'Data science'

In [22]:
s.title() # all 1st letter

'Data Science'

# Python List
* A list contains items separated by commas and enclosed within square brackets

In [31]:
#a= 1234 
l1 = [ 'abcd', 1234 , 8.23, "Radical", 0.01,3+6j ]
l2 = [ 67890, 'Gaurav']
print(l1)
print(l2)
#print(a[2])

['abcd', 1234, 8.23, 'Radical', 0.01, (3+6j)]
[67890, 'Gaurav']

In [29]:
print(l1[4]) # # Prints complete list

0.01

In [32]:
l1 = [ 'abcd', 1234 , 8.23, 'Radical', 0.01,3+6j ]
l2 = [ 67890, 'Gaurav']
print(l1[2:3])       # Prints first element of the list

[8.23]

In [33]:
l1 = [ 'abcd', 1234 , 8.23, 'Radical', 0.01,3+6j ]
l2 = [ 67890, 'Gaurav']
print(l1[2:]) # Prints elements starting from 3rd element

[8.23, 'Radical', 0.01, (3+6j)]

In [34]:
print(l2 * 5)  # Prints list two times

[67890, 'Gaurav', 67890, 'Gaurav', 67890, 'Gaurav', 67890, 'Gaurav', 67890, 'Gaurav']

In [35]:
print(l1 + l2)

['abcd', 1234, 8.23, 'Radical', 0.01, (3+6j), 67890, 'Gaurav']

In [36]:
l1[0] = 'xcvbnm'
l1[1] = 'ChANDRA'
print((l1))

['xcvbnm', 'ChANDRA', 8.23, 'Radical', 0.01, (3+6j)]

In [39]:
del l1 # delete list 1

In [37]:
del l1[1]

In [40]:
l1

NameError: name 'l1' is not defined

# Python Tuples
*  Lists are enclosed in brackets  [ ] and their elements and size can be changed, 
*  tuples are enclosed in parentheses  ( )  and cannot be updated. 
    
* A tuple consists of a number of values separated by commas

In [41]:
t1 = ( 'abcd', 1234 , 8.23, 'Radical', 0.01 )
t2 = (67890, 'Gaurav')

In [42]:
print(t1)

('abcd', 1234, 8.23, 'Radical', 0.01)

In [43]:
t1[1] = 2345

TypeError: 'tuple' object does not support item assignment

In [44]:
t1[1]

1234

In [45]:
t1[1:4]

(1234, 8.23, 'Radical')

# Python Dictionary
* kind of hash table type
* consist of key-value pairs

In [60]:
dt = {}
dt[1]= ['sdfds']
dt[0] = [1]
dt[2]   =[1234456]
print(dt)

{1: ['sdfds'], 0: [1], 2: [1234456]}

In [52]:
dct1 = { 'Name': ['Gaurav','asdfg'], 'Class': 'Data Science', 1: [1,3,4,5]}
print(dct1)

{'Name': ['Gaurav', 'asdfg'], 'Class': 'Data Science', 1: [1, 3, 4, 5]}

In [15]:
# Dict is a hash table with key:Value
dict1={'1':123,'2':432,'0':456}
#dict1[1]=[123]
#dict1[0]=[432]
print(dict1)
for i in dict1:
     print(i,end=" ")              # output takes only key from the dictionary
for x in dict1.values():
     print(x)                     # output will print values of dict

{'1': 123, '2': 432, '0': 456}
1 2 0 123
432
456

In [58]:
print(dct1['Name'])

['Gaurav', 'asdfg']

In [64]:
dt[2]

[1234456]

In [65]:
dct1 = { 'Name': ['Gaurav','asdfg'], 'Class': 'Data Science', 1: [1,3,4,5]}
dct1.keys()

dict_keys(['Name', 'Class', 1])

In [96]:
dct1.items()

dict_items([('Name', ['Gaurav', 'asdfg']), ('Class', 'Data Science'), (1, [1, 3, 4, 5])])

In [66]:
dct1.values()

dict_values([['Gaurav', 'asdfg'], 'Data Science', [1, 3, 4, 5]])

# Operator

In [67]:
10/2

5.0

In [69]:
10 % 2.5

0.0

In [75]:
round(7/3) # Division

2

In [71]:
10//2  #Floor division

5

* and --> x<5 and x<10 
* or  --> x<5 or x<10
* not -->   not(x<5 and x<10)

In [76]:
l1 = [ 'abcd', 1234 , 8.23, 'Radical', 0.01,3+6j ]
l1

['abcd', 1234, 8.23, 'Radical', 0.01, (3+6j)]

In [19]:
l1 = [ 'abcd', 1234 , 8.23, 'Radical', 0.01,3+6j ]
for i in l1:
    print(i)

abcd
1234
8.23
Radical
0.01
(3+6j)

In [83]:
l1 = [ 'abcd', 1234 , 8.23, 'Radical', 0.01,3+6j ]
for i,j in enumerate(l1):                         # mentions things one by one
    print('i= ',i, 'j= ',j)

i=  0 j=  abcd
i=  1 j=  1234
i=  2 j=  8.23
i=  3 j=  Radical
i=  4 j=  0.01
i=  5 j=  (3+6j)

In [85]:
for q in l1:
    print(q)

abcd
1234
8.23
Radical
0.01
(3+6j)

In [89]:
l1 = [ 'abcd', 1234 , 8.23, 'Radical', 0.01,3+6j ]
for index,value in enumerate(l1):
    print('index={},value={}'.format(value,index))  # .join 
    #print(l2)
    
#print(l1)

index=abcd,value=0
index=1234,value=1
index=8.23,value=2
index=Radical,value=3
index=0.01,value=4
index=(3+6j),value=5

In [90]:
t1 = [ 'abcd', 1234 , 8.23, 'Radical', 0.01 ]
t2 = [67890, 'Gaurav']
for i in t1[0:3]:
    print(i)
    for j in t2:
        print(j)

abcd
67890
Gaurav
1234
67890
Gaurav
8.23
67890
Gaurav

In [92]:
x= 3

if x>10:
    print('Greater than 10')

if x>5 or x < 10:       #  | 
    print('greater than 5')

else:
    print('No')

greater than 5

In [22]:
# greater than equal to

i=4
if i<10:
    print("Less than 10")
if i>1 or i<8:
    print("InBetween")
if i>8:
    print("Greater")
else:
    print("NO")

Less than 10
InBetween
NO

In [23]:
p = [1,2,3,4,5]
r =9
if r in p: print(' find')  # == in    # != not in  
    
else:print('not in  p')
    
    
'''for i in p:
    if i != r:'''

not in  p

'for i in p:\n    if i != r:'

In [ ]:
print 'hi' # py 2
print('hi')